.about {
	background-color: $cool;
	height: 100vh;
}

.about-content {
	background-color: $white;
	color: $black;
	height: 100vh;
	overflow: auto;
	padding: 50px;
	text-align: justify;
	.img-wrapper {
		margin-bottom: 25px;
		text-align: center;
		img {
			border-radius: 100%;
			width: 40%;
			@include bp-xs {
				width: 70%;
			}
		}
	}
}

.view-btn {
	background-color: $cool;
	margin: 0 5px;
}

.download-btn {
	@extend button;
	@extend .view-btn;
	&:hover {
		@include min-bp-md {
			font-size: 10.5pt;
			padding: 8.4px 12.6px;
		}
	}
}

.about-close-btn {
	background-color: $cool + 50;
	font-size: 12pt;
	position: absolute;
	left: 10px;
	top: 5px;
	z-index: 2;
}

.resume-wrapper {
	background-color: $white;
	margin: -50px;
	min-height: 100vh;
	position: relative;
}

.resume-icon {
	margin-right: 5px;
	img {
		max-width: 20px;
	}
	&.education img {
		max-width: 25px;
		vertical-align: bottom;
	}
}

.header {
	background-color: $bg-color - 25;
	padding: 5vh 10vw;
	position: relative;
	@include bp-md {
		padding: 5vh 5vw;
	}
	@include bp-xs {
		padding: 5vh 10vw;
	}
	h3 {
		color: $white;
		line-height: 1.6;
		margin: 0;
		text-align: center;
		@include bp-xs {
			font-size: 22pt;
		}
	}
}

.body {
	padding: 5vh 10vw;
	@include bp-md {
		padding: 5vh 5vw;
	}
	@include bp-xs {
		padding: 5vh 10vw;
	}
	.resume-section-content {
		display: table;
		width: 100%;
		.kind-of-title {
			font-weight: bold;
		}
		p {
			margin: 0;
			padding: 0px 25px;
		}
	}
	section {
		margin-bottom: 25px;
		h4 {
			color: $bg-color - 25;
			margin: 10px 0;
		}
	}
}

section ul {
	display: table-cell;
	margin: 0;
	padding: 0;
	li {
		line-height: 1.6;
		list-style: none;
		&.special {
			font-weight: bold;
		}
		&.end-section {
			margin-bottom: 10px;
			@include bp-xs {
				margin-bottom: 20px;
			}
		}
	}
	&.months {
		padding: 0 20px;
		text-align: right;
		vertical-align: top;
		width: 25%;
		@include bp-xs {
			display: none;
		}
		li.end-section-1l {
			margin-bottom: 10px;
		}
		li.end-section-2l {
			margin-bottom: 35px;
		}
		li.end-section-3l {
			margin-bottom: 60px;
		}
	}
	&.content {
		padding: 10px 20px;
		text-align: left;
		vertical-align: top;
		li.not-hidden-xs {
			color: $black + 50;
			position: relative;
			text-align: justify;
		}
		&.education {
			@include bp-xs {
				padding: 0px 0px 10px 32px;
			}	
		}
		@include bp-xs {
			padding: 0px 0px 10px 27px;
		}
	}
}

.timeline-icon-wrapper {
	display: table-cell;
	@include bp-xs {
		display: none;
	}
	.timeline-icon {
		background-color: $bg-color;
		position: relative;
		width: 2px;
		.little-icon {
			background-color: $bg-color;
			border-radius: 100%;
			height: 10px;
			left: -4px;
			position: absolute;
			width: 10px;
			&:before, &:after {
				@extend .little-icon;
				content: '';
				left: 0;
			}
		}
		&.ti-1 {
			height: 255px;
			.little-icon {
				top: 18px;
				&:before {
					top: 85px;
				}
				&:after {
					top: 145px;
				}
			}
		}
		&.ti-2 {
			height: 285px;
			.little-icon {
				top: 18px;
				&:before {
					top: 85px;
				}
				&:after {
					top: 170px;
				}
			}
		}
		&.ti-3 {
			height: 285px;
			.little-icon {
				top: 18px;
				&:before {
					top: 85px;
				}
				&:after {
					top: 195px;
				}
			}
		}
	}
}