$xs: '768px';
$sm: '1024px';
$md: '1200px';

$grid-columns: 8;

/* global reset*/
*:not(.main-animation-wrapper, button),
*:after:not(.main-animation-wrapper, button),
*:before:not(.main-animation-wrapper, button) {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

.grid-container {
	margin: 0 auto;
	width: 100%;
  &:after {
		clear: both;
		content: '';
		display: table;
	}
}

.row {
  width: 100%;
	&:before, &:after {
		clear: both;
		content: '';
		display: table;
	}
}

[class*='col-'] {
  float: left;
  min-height: 1px; 
  margin: 0;
  padding: 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  &:after, &:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}
}

/* it's mobile first, so the columns only work for devices with screens larger than 1023px */
@media (min-width: $sm) {
  @for $i from 1 through $grid-columns {
    .col-#{$i} { 
      width: $i * (100%/$grid-columns);   
    }
  }
}