
/* keep me posted css logo */
.mailbox-wrapper {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  width: 100%;
}

.mailbox {
  bottom: 0;
  height: 35px;
  left: 0;
  margin: auto;
  opacity: 0.25;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  @include transform(scale(4));
}

.main {
  background-color: $mailbox;
  border-radius: 0 15% 0 0;
  box-shadow: inset -5px 5px 10px $mailbox - 20;
  height: 35px;
  position: absolute;
  width: 50px;
  @include transform(skew(-2deg));
  &:after {
    background-color: $mailbox - 25;
    border-radius: 15% 15% 0 0;
    box-shadow: 0;
    content: '';
    height: 35px;
    left: -19px;
    position: absolute;
    width: 22px;
  }
}

.flag {
  background-color: $flag;
  height: 35px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: -17px;
  width: 4px;
  @include transform(skew(-7deg));
  &:after {
    background-color: $flag;
    border-radius: 15%;
    content: '';
    height: 10px;
    position: absolute;
    width: 17px;
  }
}