// include keyframe animations that work in every browser
@mixin animation($name) {
  @keyframes #{$name} {
    @content;
  }
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
}

// include transitions that work in every browser
@mixin transition($info) {
  transition: $info;
  -webkit-transition: $info;
}

// the next mixins are for media queries
@mixin bp-md {
  @media only screen and (max-width: $md) {
    @content;
  }
}

@mixin bp-sm {
  @media only screen and (max-width: $sm) {
    @content;
  }
}

@mixin bp-xs {
  @media only screen and (max-width: $xs) {
    @content;
  }
}

@mixin min-bp-md {
  @media (min-width: $md ){
    @content;
  }
}

// include animations that work in every browser
@mixin browsers($info) {
  animation: $info;
  -webkit-animation: $info;
  -moz-animation: $info;
  -ms-animation: $info;
  -o-animation: $info;
}

// include filters that work in every browser
@mixin filters($info) {
  filter: $info;
  -webkit-filter: $info;
  -moz-filter: $info;
  -ms-filter: $info;
  -o-filter: $info;
}

// include scrollbar style in every browser
@mixin scrollbar() {
  ::-webkit-scrollbar {
    @content;
  }
  ::-ms-scrollbar {
    @content;
  }
}

// include gradients that work in every browser
@mixin gradient($info) {
  background: linear-gradient($info);
  background: -webkit-linear-gradient($info);
  background: -moz-linear-gradient($info);
  background: -ms-linear-gradient($info);
}

// include the color of background and button of each project
@mixin projects($names) {
  @each $name, $color in $names {
    &.#{$name} {
      .img-wrapper {
        background-image: url('../images/#{$name}.png');
        @if ($name == 'dinokiki' or $name == 'marina' or $name == 'qualprofessor' or $name == 'pao' or $name == 'sanduiche' or $name == 'bauru' or $name == 'dinovr') {
          background-position: center center;
        }
        height: 100%;
        position: absolute;
        width: 100%;
        @include filters(blur(2.5px));
        @include transform(scale(1.01));
        &:before {
          background-color: $color;
          content: '';
          height: 100%;
          left: 0;
          opacity: 0.7;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: -1;
        }
      }
      .project-btn {
        background-color: $color - 15;
        @include bp-md{
          &:hover {
            background-color: $color - 30;
          } 
        }
      }
    }
  }
}

// include the correct background-color to an element according to the project color defined on the projects array
@mixin bg-color-project($names) {
  @each $name, $color in $names {
      &.#{$name} {
        background-color: $color;
       }
    }
}

// include transformations that work in every browser
@mixin transform($info) {
  transform: $info;
  -webkit-transform: $info;
  -moz-transform: $info;
  -ms-transform: $info;
}

