$color-main-1: #9C2855;
$color-main-2: #E14282;
$color-light: #FADCE4;
$color-darker: #7F2044;
$color-darkest: #591630;
$white: #eee;
$black: #282828;
$grey: #555;
$color-trans: rgba(225, 66, 130, 0.5);
$color-trans-hover: rgb(225, 66, 130);

$border-radius: 10px;

$xs: 768px;
$sm: 1024px;
$md: 1200px;

$space-sm: 25px;
$space-md: 50px;
$space-lg: 100px;