@import url("https://fonts.googleapis.com/css?family=Solway&display=swap");
body {
  margin: 0;
  padding: 0; }

.container {
  background-color: $color-light;
  color: $color-darker;
  font-family: 'Solway', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
